@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
}

:root{
    --fundo: linear-gradient(90deg, rgba(0,12,48,1) 7%, rgba(0,25,73,1) 45%);
    --fonte:'Inter', sans-serif;
    --cor-principal: #FCFCFC;
    --azul:#1E67D1;
    --amarelo:#FFDE59;
}

body{
    font-family: var(--fonte);
    color:var(--cor-principal);
    background:var(--fundo);
}

.desenho-do-T{
    display:block;
}

.parte-superior-T{
    width: 98.5%;
    height: 7%;
    border: 2px dotted var(--amarelo);
    border-bottom:none;
    position:absolute;
    top:1%;
    left:0.8%;
}

.parte-esquerda-inferior-T{
    width: 42%;
    border-bottom: 2px dotted var(--amarelo);
    position:absolute;
    top:8%;
    left:0.8%;
}

.parte-direita-inferior-T{
    width: 42%;
    border-bottom: 2px dotted var(--amarelo);
    position:absolute;
    top:8%;
    right:0.8%;
}

.parte-inferior-T {
    width: 14%;
    height: 54%;
    border: 2px dotted var(--amarelo);
    border-top: none;
    position:absolute;
    top:8%;
    left:43%;
}

.container{
    margin:1rem;
    display:flex;
    justify-content: space-around;
    gap:10px;
}

.card{
    width:100%;
    height: 100%;
    border: 2px solid var(--azul);
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.titulo-card{
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--azul);
    padding-top: 3px;
    font-size: 15px;
}

.lista-card{
    padding:0.8rem 0.5rem;
    font-size: 10px;
}

.item-card{
    list-style: none;
    font-weight: 200;
    font-size: 12px;
}

.mais__informacoes{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.inferior{
    width: 300px;
    border: 2px solid var(--azul);
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.item__estudos-atuais{
    list-style-type: none;
    padding:0.3rem 0 0.3rem 0;
    text-align: center;
    font-size: 12px;
}

.atualizacao-data{
    font-size: 12px;
    font-weight: 200;
}